:root{
    --title-color:#322153;
    --primary-color: #34cb79;
}

*{
    margin: 0;
    padding: 0;

    /* atributo para que o limite da caixa seja
     a borda da caixa o texto terá que se ajustar ao tamanho da caixa
    */
    box-sizing: border-box;
}


html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /*fonte melhor apresentavel*/
}

a{
    text-decoration: none;  /*tirar sublinhado dos liks*/
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}


